body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}

th {
    background-color: #f2f2f2;
    font-size: 18px;
}

pe {
    margin: 8px 0;
}

.hover-container {
    position: relative;
    cursor: pointer;
}

.hover-container img {
    max-width: 100%;
    height: auto;
}

.info-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    text-align: left;
    overflow: auto;
}

.hover-container:hover .info-content {
    display: block;
}

@media (max-width: 600px) {
    th, td {
        font-size: 14px;
    }
}
